* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f9f9f9;
  color: #333;
}

/* HEADER */
header {
  padding: 15px;
  background: #111;
  color: white;
  text-align: center;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 60px 20px;
  background: white;
}

.hero img {
  width: 300px;
  border-radius: 10px;
}

.hero-text h1 {
  font-size: 36px;
}

.hero-text button {
  margin-top: 15px;
  padding: 10px 25px;
  background: #2563eb;
  border: none;
  color: white;
  cursor: pointer;
}

/* FEATURES */
.features {
  text-align: center;
  padding: 50px 20px;
}

.feature-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.feature-box div {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

/* PRICE */
.price {
  text-align: center;
  padding: 50px;
  background: #111;
  color: white;
}

.price button {
  margin-top: 15px;
  padding: 12px 30px;
  background: #22c55e;
  border: none;
  color: white;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 10px;
  background: #000;
  color: white;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    text-align: center;
  }

  .hero img {
    margin-top: 20px;
    width: 80%;
  }

  .feature-box {
    flex-direction: column;
    align-items: center;
  }
}